h1{
    text-align: center;
    background-color: mediumaquamarine;
    
}


.order{
    background-color: mediumspringgreen;
   
}

.Img{
    background-color: deepskyblue;
    text-align: center;
}

.statistics{
    background-color: gold;
}

.menu{
    text-align: center;
}